/* General Rules */
*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body{
  font-family: 'Lato', sans-serif ;
  color: #33475b;
  font-size: 14px;
}

/* Utilities */

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.menu-inline{
  list-style: none;
}

.menu-inline li{
  display: inline-block;
  line-height: 15px;
}
.menu-inline a{
  color: #33475b;
  margin: 0px 10px 0px 0px;
}



.button{
  display: inline-block;
  border: 1px solid #fd775a;
  border-radius: 5px;
  line-height: 10px;
  color: #fd775a;
  padding: 5px 10px;
}

.button.button-white{
  background-color: white;
  color: #fd775a;
}

.button.button-orange{
  background-color: #fd775a;
  color: white;
}

.button.button-lg{
  padding: 20px 40px;
}

.button.button-sm{
  padding: 5px 10px;
}

.float{
  float: left;
}

.w-50{
  width: 50%;
}

.max-width{
  max-width: 200px;
}

/* Sezione Header */

/* Header-top */

.header-top a{
  text-decoration: none;
}

.header-top{
  background-color: #f4f9fd;
  line-height: 50px;
  color: #677987;
  border-bottom: 1px solid black;
}

.header-top-left{
  text-align: left;
}

.header-top-right{
  text-align: right;
}

.header-top-left .menu-inline  li:first-child{
  border-right: 1px solid grey;
  margin-right: 5px;
}

/* Fine header top */

/* Header nav */

.header-nav{
  background-color: white;
  line-height: 50px;
  color: #677987;
  height: 51px;
}

.header-nav-right{
  text-align: right;
}

.header-nav-logo{
  text-align: left;
  line-height: 5;
}
/* Fine header-nav */

/* Jumbotron */
.jumbotron {

  height: 600px;
  background-image: url('../img/jumbotron.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.content{
  width: 40%;
  text-align: left;
}
.content h1,
.content p,
.content a
.content span{
  padding-bottom: 40px;
  line-height: 2;
}

.content h1{
  font-size: 50px;
  line-height: 40px;
  padding-top: 40px;
}

.small{
  font-size: 10px;
  padding-top: 30px;
}
/* Fine Jumbotron */

.bottom-header{
  height:80px;
  background-color: #afebe5;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

/* Main-info */

#info{
  height: 400px;
  background-color: #f4f9fd;
}

.first-block{
  text-align: center;
}

.block-img{
  width: 300px;
  padding-top: 50px;
}

.text h2{
  font-size: 30px;
  padding-bottom: 30px;
}

.text p{
  max-width: 729px;
  margin: 0 auto;
  line-height: 2;
}
