/* General Rules */
*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body{
  font-family: 'Lato', sans-serif ;
  color: #33475b;
  font-size: 14px;
}

/* Utilities */

.container{
  width: 100%;
  margin: 0 auto;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.menu-inline{
  list-style: none;
}

.menu-inline li{
  display: inline-block;
  line-height: 15px;
}
.menu-inline a{
  padding: 10px;
  color: #33475b;
}

.button{
  display: inline-block;
  border: 1px solid #fd775a;
  border-radius: 5px;
  line-height: 10px;
  color: #fd775a;
  padding: 5px 100px;
}

.button-white{
  background-color: white;
  color: #fd775a;
}

.button-orange{
  background-color: #fd775a;
  color: white;
  padding: 5px 10px;
}

/* Sezione Header */

#main-header{
  height: 550px;
  background-color: grey;
}

.header-top a{
  text-decoration: none;
}

.header-top{
  height: 50px;
  background-color: #f4f9fd;
  line-height: 50px;
  text-align: center;
  color: #677987;
}

.header-top .header-top-right,
.header-top .header-top-left{
  float: left;
}

.header-top-right,
.header-top-left{
  width: calc(100% / 2);
  padding: 0 10px;
}

.header-top-right .menu-inline  li:first-child{
  border-right: 1px solid grey;

}

.header-top .button-orange{
  color: white;
}

.header-top .button-white{
  color: #fd775a;
}
